@mixin theme-variables($palette) {
	$bgImage: map-get(
		$map: $palette,
		$key: bgImage,
	);
	$bgColor: map-get(
		$map: $palette,
		$key: bgColor,
	);
	$surfaceColor: map-get(
		$map: $palette,
		$key: bgColor,
	);

	$textColor: map-get(
		$map: $palette,
		$key: textColor,
	);
	$textMuted: map-get(
		$map: $palette,
		$key: textMuted,
	);
	$hintColor: map-get(
		$map: $palette,
		$key: primaryColor,
	);
	$typographyTextColor: map-get(
		$map: $palette,
		$key: textMuted,
	);

	$primaryColor: map-get(
		$map: $palette,
		$key: primaryColor,
	);
	$baseLineColor: map-get(
		$map: $palette,
		$key: baseLineColor,
	);
	$secondaryColor: map-get(
		$map: $palette,
		$key: secondaryColor,
	);

	$errorColor: map-get(
		$map: $palette,
		$key: errorColor,
	);
	$successColor: map-get(
		$map: $palette,
		$key: successColor,
	);

	--bgImage--: #{$bgImage};
	--bgColor--: #{$bgColor};
	--surfaceColor--: #{$surfaceColor};

	--textColor--: #{$textColor};
	--textMutedColor--: #{$textMuted};
	--hintTextColor--: #{$hintColor};
	--typographyTextColor--: #{$typographyTextColor};

	--baseBoxShadow--: 0px 0px 4px rgba(0, 0, 0, 0.5);
	--buttonBoxShadow--: 0px 0px 4px rgba(0, 0, 0, 0.3);
	--cardBoxShadow--: 0 0 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	--primaryColor--: #{$primaryColor};
	--secondaryColor--: #{$secondaryColor};
	--baseLineColor--: #{$baseLineColor};

	--errorColor--: #{$errorColor};
	--successColor--: #{$successColor};

	color: var(--textColor--);
	background-image: var(--bgImage--);
	background-color: var(--bgColor--);
}
