



body *{
    transition: background-color .7s linear;
}
body.light-mode{
    
    color: map-get($light-theme-colors, textColor );
    background-color: map-get($light-theme-colors, bgColor);

    %primaryText{
        fill: map-get($light-theme-colors, primaryColor);
        color: map-get($light-theme-colors, primaryColor);
    }
    %primaryBg{
        color: #FFFFFF !important;
        background-color: map-get($light-theme-colors, primaryColor);
    }
    
    
    %secondaryText{
        fill: map-get($light-theme-colors, secondaryColor);
        color: map-get($light-theme-colors, secondaryColor);
        opacity: .9;
    }
    %secondaryBg{
        color: #FFFFFF !important;
        background-color: map-get($light-theme-colors, secondaryColor);
    }
    
    %textColor{
        color: map-get($light-theme-colors, textColor);
    }
    %textMutedColor{
        color: map-get($light-theme-colors, textMuted) !important;
    }

    %inputBorderColor{
        border-color: lighten(map-get($light-theme-colors, textMuted), 40%);
    }

    %surfaceCard{
        background-color: map-get($light-theme-colors, surfaceColor);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
}





body.dark-mode{
    color: map-get($dark-theme-colors, textColor );
    background-color: map-get($dark-theme-colors, bgColor);
    
    %primaryText{
        fill: map-get($dark-theme-colors, primaryColor);
        color: map-get($dark-theme-colors, primaryColor);
    }
    
    %primaryBg{
        color: map-get($dark-theme-colors, textColor) !important;
        background-color: map-get($dark-theme-colors, primaryColor);
    }
    
    %secondaryText{
        fill: map-get($dark-theme-colors, secondaryColor);
        color: map-get($dark-theme-colors, secondaryColor);
        opacity: .9;
    }
    %secondaryBg{
        color: #202221 !important;
        background-color: map-get($dark-theme-colors, secondaryColor);
    }
    
    %textColor{
        fill: map-get($dark-theme-colors, textColor);
        color: map-get($dark-theme-colors, textColor);
    }
    %textMutedColor{
        color: map-get($dark-theme-colors, textMuted) !important;
    }

    %inputBorderColor{
        border-color: darken(map-get($dark-theme-colors, textMuted), 20%);
    }

    %surfaceCard{
        background-color: map-get($dark-theme-colors, surfaceColor);
        box-shadow: 0, 0, 0 4px rgba(0,0,0,.2);
    }
}


