// ======================================= TEXTS ==============================================

.text-color,
.theme-text {
	@extend %textColor;
}

.theme-link {
	@extend %links;
}

.typography {
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 20px !important;
	overflow-wrap: break-word;
	font-size: calc(var(--baseFontSize--) * 0.85) !important;
}

// ========================================== UI =============================================
.theme-primary {
	@extend %primaryColor;
}

.theme-primary > * > * {
	color: inherit;
}

.secondary {
	background-color: var(--secondaryText--);
}
.secondary-text {
	color: var(--secondaryColor--) !important;
}
