$themes-palettes: (
	errorColor: #e12f4fe2,
	successColor: #60f360c9,

	default-mode: (
		bgColor: #f1f1f1,
		bgImage: none,
		textColor: #333333,
		textMuted: #6a6969,
		primaryColor: #2f00ffdd,
		baseLineColor: #ffffff,
		secondaryColor: #49b8bceb,
	),
	light-mode: (
		bgColor: #cbc9c9,
		textColor: #333333,
		textMuted: #888888,
		primaryColor: #28878ae4,
		baseLineColor: #ffffff,
		secondaryColor: #2d46ff,
		bgImage:
			linear-gradient(
				to left top,
				#e4f5fb,
				#ebf6fd,
				#f1f8fe,
				#f6faff,
				#fbfcff,
				#fafbff,
				#f9fbff,
				#f8faff,
				#f0f7ff,
				#e7f5fe,
				#dcf3fb,
				#d2f1f6
			),
	),
	dark-mode: (
		bgColor: #031627,
		textColor: #cbc9c9,
		textMuted: #6a6969,
		primaryColor: #00a1e4,
		baseLineColor: #3b3b3b,
		secondaryColor: #f27725c6,
		bgImage:
			linear-gradient(
				to left top,
				#031627,
				#04192a,
				#041b2d,
				#031d31,
				#032034,
				#032035,
				#022136,
				#022137,
				#021f35,
				#021c34,
				#021a32,
				#031730
			),
	),
	high-contrast: (
		bgImage: none,
		bgColor: #000000,
		textColor: #c3c1c1,
		textMuted: #b5b5b5,
		primaryColor: #ffff00,
		baseLineColor: rgb(32, 32, 32),
		secondaryColor: #0033ff,
	),
);

// Theme Palettes
$defaultMode-theme-palettes: map-get(
	$map: $themes-palettes,
	$key: default-mode,
);
$lightMode-theme-palettes: map-get(
	$map: $themes-palettes,
	$key: light-mode,
);
$darkMode-theme-palettes: map-get(
	$map: $themes-palettes,
	$key: dark-mode,
);
$highContrast-theme-palettes: map-get(
	$map: $themes-palettes,
	$key: high-contrast,
);

$theme-error-color: map-get(
	$map: $themes-palettes,
	$key: errorColor,
);
$theme-success-color: map-get(
	$map: $themes-palettes,
	$key: successColor,
);
