// 1. Primary
// 2. Primary Variant
// 3. Secondary
// 4. Secondary Variant
// 5. Background
// 6. Surface
// 7. Error
// 8. On Primary
// 9. On Secondary
// 10. On Background
// 11. On Surface
// 12. On Error

$themes-palettes: (
	errorColor: #e12f4fe2,
	successColor: #60f360c9,

	default-mode: (
		primaryColor: #00afe4dd,
		onPrimaryColor: #222222,
		primaryColorVariant: lighten(#00afe4dd, 15%),
		//
		secondaryColor: #4606c6,
		onSecondaryColor: #f1f1f1,
		secondaryColorVariant: lighten(#4606c6, 15%),
		//
		surfaceColor: #ffffff,
		onSurfaceColor: #333333,
		//
		errorColor: #f03053e2,
		onErrorColor: #ffffff,
		//
		successColor: #4df54dc9,
		onSuccessColor: #f1f1f1,
		//
		backgroundColor: #fbfbfb,
		onBackgroundColor: #313131,
		backgroundImage: none,
	),
	light-mode: (
		primaryColor: #1D9BF0,
		onPrimaryColor: #ffffff,
		primaryColorVariant: lighten(#28878ae4, 15%),
		//
		secondaryColor: #2d46ff,
		onSecondaryColor: #f1f1f1,
		secondaryColorVariant: lighten(#2d46ff, 5%),
		//
		surfaceColor: #f9fbff,
		onSurfaceColor: #333333,
		//
		errorColor: #f03053e2,
		onErrorColor: #ffffff,
		//
		successColor: #26e326c9,
		onSuccessColor: #f1f1f1,
		//
		backgroundColor: #FFFFFF,
		onBackgroundColorLight: #0F1419,
		onBackgroundColor: #404040,

		backgroundImage: none

		// backgroundImage: linear-gradient(to left top, #e4f5fb, #ebf6fd, #f1f8fe, #f6faff, #fbfcff, #fafbff, #f9fbff, #f8faff, #f0f7ff, #e7f5fe, #dcf3fb, #d2f1f6),
	),
	dark-mode: (
		primaryColor: #28878a,
		onPrimaryColor: #222222,
		primaryColorVariant: darken(#1D9BF0, 10%),
		//
		secondaryColor: #008080,
		onSecondaryColor: #ffffff,
		secondaryColorVariant: darken(#008080, 15%),
		//
		surfaceColor: #080808,
		onSurfaceColor: #f1f1f1ef,
		//
		errorColor: #ff3d61,
		onErrorColor: #ffffffef,
		//
		successColor: #3ff83fde,
		onSuccessColor: #f1f1f1f1,
		//
		backgroundColor: #000000,
		onBackgroundColor: #d6d9db,
		onBackgroundColorDark: #71767B,
		onBackgroundColorLight: #E7E9EA,

		backgroundImage: none
	),
	high-contrast: (
		primaryColor: #ffff00,
		onPrimaryColor: #202020,
		primaryColorVariant: darken(#ffff00, 15%),
		//
		secondaryColor: #69a6f0,
		onSecondaryColor: #222222,
		secondaryColorVariant: lighten(#69a6f0, 10%),
		//
		surfaceColor: lighten(#000000, 10%),
		onSurfaceColor: #efeded,
		//
		errorColor: #ff002f,
		onErrorColor: #ffffff,
		//
		successColor: #00ff00,
		onSuccessColor: #130101,
		//
		backgroundColor: #000000,
		onBackgroundColor: #dfdddd,
		backgroundImage: none,
	),
);

// Theme Palettes
$defaultMode-theme-palettes: map-get(
	$map: $themes-palettes,
	$key: default-mode,
);
$lightMode-theme-palettes: map-get(
	$map: $themes-palettes,
	$key: light-mode,
);
$darkMode-theme-palettes: map-get(
	$map: $themes-palettes,
	$key: dark-mode,
);
$highContrast-theme-palettes: map-get(
	$map: $themes-palettes,
	$key: high-contrast,
);

$theme-error-color: map-get(
	$map: $themes-palettes,
	$key: errorColor,
);
$theme-success-color: map-get(
	$map: $themes-palettes,
	$key: successColor,
);
