@mixin btn-hover() {
	&:hover {
		// transform: scale(1.01);
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
		opacity: 1.1;

		> * {
			opacity: 1.1;
		}
	}
	&:active {
		transform: scale(0.99);
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
		// transform: translateY(3%) scale(1);
		> * {
			transform: scale(0.99);
		}
	}
	@content;
}

@mixin btn() {
	cursor: pointer;
	border: none;
	outline: none;
	font-family: sans-serif;
	text-transform: capitalize;
	font-size: var(--baseFontSize--);
	border-radius: calc(var(--baseBorderRadius--) * 0.15);
	padding: calc(var(--basePadding--) * 0.5) calc(var(--basePadding--) * 0.8);
	gap: calc(var(--baseFontSize--) * 0.7);
	background-color: var(--secondaryColor--);
	color: var(--onSecondaryColor--);
	box-shadow: var(--buttonBoxShadow--);
	height: fit-content;
	display: inline-flex;
	align-items: center;
	transition-duration: 250ms;
	transition-property: background-color, color, opacity;
	transition-timing-function: linear;
	@include btn-hover();
	@content;
}

.btn {
	@include btn();
}

.btn-extra-small {
	@include btn() {
		font-size: calc(var(--baseFontSize--) * 0.5);
		border-radius: calc(var(--baseBorderRadius--) * 0.1);
		border-radius: 0;
		padding: calc(var(--basePadding--) * 0.15) calc(var(--basePadding--) * 0.3);
		gap: calc(var(--baseFontSize--) * 0.2);

		svg {
			width: calc(var(--baseFontSize--) * 0.5);
			height: calc(var(--baseFontSize--) * 0.5);
		}
	}
}
.btn-small {
	@include btn() {
		font-size: calc(var(--baseFontSize--) * 0.7);
		border-radius: calc(var(--baseBorderRadius--) * 0.1);
		padding: calc(var(--basePadding--) * 0.2) calc(var(--basePadding--) * 0.4);
		gap: calc(var(--baseFontSize--) * 0.4);

		svg {
			width: calc(var(--baseFontSize--) * 0.7);
			height: calc(var(--baseFontSize--) * 0.7);
		}
	}
}
.btn-large {
	@include btn {
		border-radius: calc(var(--baseBorderRadius--) * 0.2);
		padding: calc(var(--basePadding--) * 1) calc(var(--basePadding--) * 1.7);
		font-size: calc(var(--baseFontSize--) * 1.4);
		letter-spacing: 2px;
		gap: var(--baseFontSize--);

		svg {
			width: calc(var(--baseFontSize--) * 1.4);
			height: calc(var(--baseFontSize--) * 1.4);
		}
	}
}
.btn-extra-large {
	@include btn {
		border-radius: calc(var(--baseBorderRadius--) * 0.3);
		padding: calc(var(--basePadding--) * 1.4) calc(var(--basePadding--) * 2.5);
		font-size: calc(var(--baseFontSize--) * 2);
		letter-spacing: 3px;
		gap: calc(var(--baseFontSize--) * 1.5);

		svg {
			width: calc(var(--baseFontSize--) * 2);
			height: calc(var(--baseFontSize--) * 2);
		}
	}
}

/**
	*Icon Buttons
*/

// ===========================

.btn-primary {
	@include btn();
	@extend %primaryColor;
}
.btn-secondary {
	@include btn();
	@extend %secondaryColor;
}

// @each $key, $value in $colors {
//     .btn-#{$key}{
//         @include btn($value);
//         gap: .8rem;

//         &:hover{
//             background-color: darken($color: $value, $amount: 10%);
//         }
//     }

//     .btn-outline-#{$key}{
//         @include btn;
//         gap: .5rem;
//         border: $base-border-size solid $value;
//         color: $value;
//         &:hover{
//             color: white;
//             background-color: $value;
//         }
//     }
// }
