@mixin btn($bg-color: transparent) {
    cursor: pointer;
    margin: 0;
    border: none;
    outline: none;
    display: flex;
    gap: 1rem;
    font-size: 1em;
    align-items: center;
    border-radius: .3rem;
    text-transform: capitalize;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color .4s ease-in-out;
    box-shadow: 0 0 2px rgba(0,0,0.2);
    padding: $base-padding * .5 $base-padding;

    &:hover{
        opacity: .9;
    }
    @extend %textColor;
}


.btn{
    @include btn;
    gap: .5rem;
}

.btn-small{
    @include btn;
    padding: $base-padding * .2 $base-padding * .5 !important;
    font-size: $base-font-size - .3 !important;
}
.btn-large{
    @include btn;
    padding: $base-padding $base-padding * 2 !important;
    font-size: $base-font-size + .5 !important;
    svg{
        max-width: 1.5rem !important;
    }
}



// @each $key, $value in $colors {
//     .btn-#{$key}{
//         @include btn($value);
//         gap: .8rem;

//         &:hover{
//             background-color: darken($color: $value, $amount: 10%);
//         }
//     }

//     .btn-outline-#{$key}{
//         @include btn;
//         gap: .5rem;
//         border: $base-border-size solid $value;
//         color: $value;
//         &:hover{
//             color: white;
//             background-color: $value;
//         }
//     }
// }
