@mixin card {
	display: inline-block;
	padding: var(--basePadding--);
	border-radius: 0.3rem;
	width: 100%;
	overflow: hidden;
}
@mixin card-title {
	.card-title {
		font-size: calc(var(--basePadding--) * 1.5);
		display: flex;
		width: 100%;
		text-align: center;
		width: 100%;
	}
}
@mixin card-body {
	.card-body {
		padding: calc(var(--basePadding--) * 0.7) 0;
		overflow: hidden;
	}
}
@mixin card-links {
	.card-links {
		width: 100%;
		display: flex;
		justify-content: right;
		.link,
		a {
			cursor: pointer;
			margin: 0 0.5rem;
			font-size: calc(var(--baseFontSize--) * 0.8);
			transition: opacity 200ms ease-in, transform 200ms ease-in;
			@extend %links;
			&:hover {
				transform: scale(1.1);
				opacity: 0.9;
			}
		}
	}
}

.flat-card {
	@include card();
	@include card-title();
	@include card-body();
	@include card-links();
	@extend %flatSurfaceCard;
}

.card {
	@include card();
	@include card-title();
	@include card-body();
	@include card-links();
	@extend %surfaceCard;
}
