@import './navbarDrawer';

%flex-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
%NavigationBar {
	width: 100%;
	height: 65px;
	position: relative;
	padding: 0 var(--basePadding--);
	background-color: var(--surfaceColor--);
	box-shadow: var(--navbarBoxShadow--);
	z-index: 1;

	@extend %flex-wrapper;
	@extend %surfaceCard;

	.container {
		height: 100%;
		@extend %flex-wrapper;
	}

	.brands,
	.nav-brand {
		cursor: pointer;
		margin-right: 0.5rem;
		font-size: calc(var(--baseFontSize--) * 200);
		@media (max-width: 720px) {
			font-size: calc(var(--baseFontSize--) * 1.8);
		}
		@media (max-width: 300px) {
			font-size: calc(var(--baseFontSize--) * 1.8);
		}
	}

	.nav-search {
		flex: 0.7;
		input {
			max-width: 100%;
		}
	}

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		gap: var(--baseFontSize--);

		@mixin link {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			overflow: hidden;
			text-overflow: ellipsis;

			cursor: pointer;
			&:hover {
				@extend %links;
				transform: scale(1.1);
			}
			svg {
				transition: fill 0.3s ease-in-out;
				width: 1.5rem;
				height: 1.5rem;
				&:hover {
					transform: scale(1.1);
					@extend %links;
				}
			}
		}
		a,
		.link,
		.link a {
			@include link;
		}
	}

	.nav-profile {
		cursor: pointer;
		border: 1px solid var(--textMutedColor--);
		height: 100%;
		width: fit-content;
		display: flex;
		align-items: center;
		padding: var(--basePadding--);

		img {
			aspect-ratio: 1;
			width: 45px;
			height: 45px;
			object-fit: cover;
			border-radius: 50%;
			overflow: hidden;
		}
	}

	@extend %navbarDrawer;

	@media (max-width: 840px) {
		justify-content: flex-start;
		gap: calc(var(--baseFontSize--) * 2.5);

		.nav-links {
			display: none;
		}

		.nav-profile {
			position: absolute;
			top: 0;
			right: 0;
		}

		.nav-drawer-toggler {
			display: flex;
		}
	}

	@media (max-width: 600px) {
		.nav-drawer {
			width: 85vw;
		}
	}

	@media (max-width: 480px) {
		.nav-search {
			flex: 0.8;
		}
		.nav-profile {
			position: absolute;
			top: 0;
			right: 0;
			display: none;
		}

		.nav-drawer-toggler {
			right: 0;
		}
	}

	@media (max-width: 430px) {
		.nav-search {
			display: none;
		}

		.nav-profile {
			display: flex;
		}

		.nav-drawer-toggler {
			right: calc(var(--basePadding--) * 2.5);
		}
	}
}

.navbar,
nav {
	@extend %NavigationBar;
}

.navbar.fixed,
nav.fixed {
	top: 0;
	left: 0;
	position: fixed;
	@extend %NavigationBar;
}

nav + * {
	margin-top: 5px;
}
nav.fixed + * {
	margin-top: 70px;
}
