@import './navbarDrawer';

@mixin media-queries(){
	@media (max-width: 840px) {
		justify-content: flex-start;
		gap: calc(var(--baseFontSize--) * 2.5);


		.container{
			justify-content: flex-start;
			gap: calc(var(--baseFontSize--) * 2.5);
		}

		.nav-search{
			flex-grow: .9;
		}

		.nav-links {
			display: none;
		}

		.nav-drawer-toggler {
			display: flex;
			// margin-left: var(--baseMargin--)
		}
	}

	@media (max-width: 600px) {
		gap: calc(var(--baseFontSize--) * 1.5);

		.container{
			gap: calc(var(--baseFontSize--) * 1.5);
		}
		.nav-drawer {
			width: 85vw;
		}

		.nav-profile{
			img{
				width: 35px;
				height: 35px
			}
		}

		.nav-search{
			flex-grow: 1;
		}

		.nav-brand{
			font-size: var(--baseFontSize--)
		}

	}

	@media (max-width: 480px) {
		padding: 0 calc(var(--basePadding--) * .5);
		justify-content: space-between;
		gap: calc(var(--baseFontSize--) * 1);

		.nav-brand{
			font-size: calc(var(--baseFontSize--) * 1.5);
		}

		.container{
			justify-content: space-between;
			gap: calc(var(--baseFontSize--) * 1);
		}
		.nav-search {
			input{
				width: 0px;
				display: none;
				transition: width 250ms ease-in;

				&.active{
					display: inline;
					width: 100%;
				}
			}
			.search-bar-toggler {
				display: inline-block;
			}

		}
	}

}

%flex-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
%NavigationBar {
	width: 100%;
	height: var(--nav-height);
	position: relative;
	padding: 0 var(--basePadding--);
	background-color: var(--backgroundColor--);
	box-shadow: var(--navbarBoxShadow--);

	@extend %flex-wrapper;
	@extend %surfaceCard;

	.container {
		height: 100%;
		@extend %flex-wrapper;
	}

	.nav-brand {
		cursor: pointer;
		margin-right: 0.5rem;
		font-size: calc(var(--baseFontSize--) * 1.5);
	}

	.nav-search {
		display: flex;
		gap: calc(var(--baseFontSize--) * .5);
		justify-content: right;
		align-items: center;
		flex: .75;
		input {
			max-width: 100%;
		}
		.search-bar-toggler{
			display: none;
			svg{
				cursor: pointer;
				width: calc(var(--baseFontSize-- )* 1.3);
				height: calc(var(--baseFontSize--) * 1.3);
				font-weight: lighter;
			}
		}
	}

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		gap: var(--baseFontSize--);

		%link {
			cursor: pointer;
			height: 100%;
			display: flex;
			align-items: center;
			overflow-wrap: break-word;
			transition: color 200ms ease;
			&:hover {
				color: var(--primaryColor--);
			}
			svg {
				transition: fill 200ms ease-in-out;
				margin: 0 calc(var(--baseFontSize--) * .5);
				width: calc(var(--baseFontSize--) * 1.5);
				height: calc(var(--baseFontSize--) * 1.5);
				&:hover {
					fill: var(--profileColor--);
				}
			}
			&.active{
				color: var(--primaryColor--)
			}
		}
		> *,
		.link,{
			@extend %link;
		}

	}

	.nav-profile {
		cursor: pointer;
		display: flex;
		justify-content: center;
		img {
			max-width: 45px;
			max-height: 45px;
			align-self: center;
			outline: 1px solid var(--neutralTextMutedColor--);
			width: 45px;
			height: 45px;
			object-fit: cover;
			border-radius: 100%;
			overflow: hidden;
		}
	}
}

.navbar,
nav {
	@extend %NavigationBar;
	@extend %navbarDrawer;
	@include media-queries()
}

.navbar.fixed,
nav.fixed {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 100;
	@extend %NavigationBar;
	@extend %navbarDrawer;
	@include media-queries()
}

.nabar + *,
nav + * {
	margin-top: calc(var(--nav-height) - 65px);
}

nav.fixed + * {
	margin-top: calc(var(--nav-height) + 5px);
}
