.card{
    @extend %surfaceCard;
    display: inline-block;
    padding: $base-padding;
    border-radius: .3rem;
    width: 100%;

    .card-title{
        font-size: $base-font-size * 1.5;
        display: flex;
        width: 100%;
        text-align: center;
        padding-bottom: $base-padding;
        width: 100%;
    }
    .card-body{
        padding: $base-padding $base-padding * .2;
        overflow: hidden;
        font-size: small;
    }

    .card-links{
        padding: .5rem 0;
        width: 100%;
        display: flex;
        justify-content: right;
        .link, a{
            cursor: pointer;
            margin: 0 .5rem;
            font-size: $base-font-size * .8;
            transition: all .2s linear;
            @extend %secondaryText;
            &:hover{
                transform: scale(1.1);
                opacity: .9;
            }
        }
    }

}
