

%flex-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
        @extend %flex-wrapper;
        @extend .text-color;
        padding: $base-padding * .75;
        height: 65px;
        background-color: var(--card--color);
        box-shadow: var(--nav--box--shadow);
        transition: .7s ease-in-out;

    .container{
        height: 100%;
        padding: 0 .5rem;
        @extend %flex-wrapper;
    }

    .brand{
        cursor: pointer;
        color: var(--light--text) !important;
        margin-right: .5rem;
        font-size: $base-font-size * 1.8 !important;
        @media (max-width: 720px) {
            font-size: $base-font-size * 1.3 !important;
        }
        @media (max-width: 300px) {
            font-size: $base-font-size !important;
        }
    }
    .brand:hover{
        color: teal !important;
    }

    form.search-bar{
        gap: 5px;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 35%;
        @media (max-width: 480px) {
            max-width: 50%;
        }

        input{
            color: var(--light--text);
            border-radius: 4px !important;
        }
    }
    .nav-links{
        margin-left: .5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem;
        height: 100%;

        @media (max-width: 600px) {
            gap: 1rem !important;
        }
        @media (max-width: 500px) {
            gap: .9rem !important;
        }
        @media (max-width: 480px) {
            display: none;
        }

        @mixin link {
            color: var(--light--text);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            white-space: nowrap;
            transition: color .2s linear;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 500;

            cursor: pointer;
            &:hover{
                color: lighten(teal, 10%) !important;
            }
            svg{
                fill: var(--light--text) !important;
                transition: .3s ease-in-out;
                width: 1.5rem !important;
                height: 1.5rem !important;
                &:hover{
                    transform: scale(1.1);
                    fill: lighten(teal, 10%) !important;
                }
            }
            @media (max-width: 600px) {
                svg{
                    width: 1.2rem !important;
                    height: 1.2rem !important;
                }
            }
            @media (max-width: 500px) {
                svg{
                    width: 1rem !important;
                    height: 1rem !important;
                }
            }
        }
        a, .link,
        .link a{
            @include link;
        }
    }
    .nav-profile{
        border: 1px solid var(--text--color);
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        max-width: 45px;
        max-height: 45px;
        @media (max-width: 600px) {
            max-width: 35px;
            max-height: 35px;
        }

        img{
            aspect-ratio: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
