
// Box Shadow
$base-box-shadow: 0px 0px 5px rgba(0,0,0,.2) !default;

// Font Size
$base-font-size: 1rem !default;

// Spacing
$base-margin: 1rem !default;
$base-padding: 1rem !default;

// Sizing
$base-border-size: 1px !default;


body, body *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all background-color .8s;
}