$visions-displays: (
	'display': (
		'prefix': 'd',
		'values': (
			'flex': flex,
			'grid': grid,
			'inline': inline,
			'inline-block': inline-block,
			'block': block,
			'none ': none,
		),
	),
	'opacity': (
		prefix: 'o',
		'values': (
			0: 0,
			10: 0.1,
			20: 0.2,
			30: 0.3,
			40: 0.4,
			50: 0.5,
			60: 0.6,
			70: 0.7,
			80: 0.8,
			90: 0.9,
			100: 1,
		),
	),
	'border-radius': (
		'prefix': 'br',
		'values': (
			'none': 0,
			'xs': 0.2rem,
			'sm': 0.4rem,
			'md': 1rem,
			'lg': 2rem,
			'full': 50%,
		),
	),
	'font-size': (
		'prefix': 'font',
		'values': (
			'xs': calc(var(--baseFontSize--) * 0.45),
			'sm': calc(var(--baseFontSize--) * 0.7),
			'md': var(--baseFontSize--),
			'lg': calc(var(--baseFontSize--) * 1.5),
			'xl': calc(var(--baseFontSize--) * 2.2),
			'xxl': calc(var(--baseFontSize--) * 3.5),
		),
	),
);

@each $property, $map in $visions-displays {
	$prefix: map-get($map, 'prefix');
	$values: map-get($map, 'values');

	@each $key, $val in $values {
		.#{$prefix}-#{$key} {
			#{$property}: $val;
		}
	}
}

// gap
@for $idx from 1 through 10 {
	$val: $idx * 5;
	.gap-#{$idx}-px {
		gap: #{$val}+ 'px';
	}
	.gap-#{$idx}-rem {
		gap: #{$idx}+ 'rem';
	}
}
