svg{
    width: 1rem;
    height: 1rem;
    @extend %textColor;
}

.icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.1rem;
    height: 1.1rem;
    svg{
        display: inline-block;
        width: 100% !important;
        height: 100% !important;
    }
}

.svg-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    svg{
        width: 100% !important;
        height: 100% !important;
    }
}


// icon coloring/filling
@each $key, $val in $colors {
    svg.#{$key}-icon{
        fill: $val !important;
        transition: fill .4s ease-in-out;
    }
    svg.on-hover-#{$key}{
        &:hover{
            fill: darken($color: $val, $amount: 10%) !important;
        }
    }

}
