svg {
	display: inline-block;
	// max-width: 3rem;
	// max-height: 3rem;
	fill: currentColor;
}

.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.1rem;
	height: 1.1rem;
	svg {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}

.svg-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	svg {
		width: 100%;
		height: 100%;
	}
}

// icon coloring/filling
@each $key, $val in $colors {
	svg.#{$key}-icon {
		fill: $val;
	}
	svg.on-hover-#{$key} {
		&:hover {
			fill: darken($color: $val, $amount: 10%);
		}
	}
}
