label {
	font-weight: lighter;
}
.input-field label {
	cursor: text;
	font-size: calc(var(--baseFontSize--) * 0.9);
	// padding-bottom: calc(var(--basePadding--) * 0.25);
}
.input-field {
	display: flex;
	flex-direction: column;
	margin: var(--baseMargin--) 0;
	gap: calc(var(--baseFontSize--) * 0.2);
	max-width: 400px;
	font-weight: lighter;
	position: relative;
	transition: outline margin 0.3s;
}
.input-field:last-child {
	margin-bottom: calc(var(--baseMargin--) * 2);
}

textarea {
	resize: none;
	overflow-y: hidden;
	line-height: calc(var(--baseFontSize--) / 0.1);
}

textarea,
input[type='number'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='text'] {
	width: 100%;
	max-width: 600px;
	outline: 0;
	border: 0;
	font-size: (--baseFontSize--);
	padding: calc(var(--basePadding--) * 0.5);
	border-radius: calc(var(--baseBorderRadius--) * 0.3);
	border: 1px solid var(--neutralTextMutedColor--);
	background-color: var(--surfaceColor--);
	line-height: 1rem;
}
textarea:active,
input[type='number']:active,
input[type='password']:active,
input[type='email']:active,
input[type='url']:active,
input[type='search']:active,
input[type='text']:active {
	// border: 1px solid;
	border: 1px solid var(--primaryColorVariant--);
	box-shadow: 0 0 0 1px var(--primaryColorVariant--);
}

.input-field .show-password,
.input-field .show-password {
	position: absolute;
	height: 35px;
	top: 50%;
	right: 0px;
	transform: translateY(-25%);
	padding: 0 7px;
	background-color: transparent;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	// background: red;
}

// .input-field.success input ~ .input-msg,
.input-field .input-msg {
	text-align: right;
	width: 100%;
	font-size: small;
	transform: scale(0);
	transform-origin: center left;
	transition: transform 0.3s;
	position: absolute;
	bottom: -20px;
}

.input-field.success input {
	box-shadow: 0 1px 0 1px var(--successColor--);
}
.input-field.invalid input {
	box-shadow: 0 2px 0 1px var(--errorColor--);
}
//
.input-field.invalid .input-msg {
	color: var(--errorColor--);
	transform: scale(1);
}
.input-field.success .input-msg {
	color: var(--successColor--);
	transform: scale(1);
}

.input-field.invalid,
.input-field.success {
	margin-bottom: calc(var(--basePadding--) * 1.8);
}
