
.input-field{
    display: block;
    margin: $base-padding 0;
    position: relative;
    height: fit-content;
    overflow: hidden;
}

.input-field  input[type=text] + .show-password,
.input-field > input[type=password] + .show-password{
    position: absolute;

    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    z-index: 100;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    svg{
        width: 1rem;
        height: 1rem;
        fill: var(--light--text)
    }
}

textarea,
input[type=number],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=text]{
    outline: 0;
    width: 100%;
    padding: $base-padding * .5;
    border-radius: .25rem;
    color: var(--light--text);
    border: 1px solid;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  $base-font-size;
    @extend %inputBorderColor;
}

textarea{
    resize: none;
    overflow-y: hidden;
}

textarea:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=text]:focus{
    border-color: map-get($light-theme-colors, primaryColor)!important;
}
body.dark-mode{
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=url]:focus,
    input[type=search]:focus,
    input[type=text]:focus{
        border-color: map-get($dark-theme-colors, primaryColor) !important;
    }
}


input::placeholder{
    color: darken(#FFFFFF, 30%)
}

body.dark-mode {
    input::placeholder{
        color: darken(#FFFFFF, 50%) !important;
    }  
}
